{
  "semi": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**.js", "**.ts", "**.tsx"],
      "options": {
        "tabWidth": 2,
        "printWidth": 80,
        "trailingComma": "all"
      }
    },
    {
      "files": ["**.yaml", "**.yml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
